.productsList {
    width: 80%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    row-gap: 24px;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 600px;
    height: max-content;
}